<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>tOdO</title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">  
</head>

<body>
<div django-app="todo" style="margin-top: 5rem">  
		<!-- {{ form.as_p }}	 -->
 
<div class="container">
	<div class="content">
		
		<h1>ToDo Application</h1>
        <p class="tagline">a Django app</p>
			<form method="post">
		{% csrf_token %}
		{{ form.errors }}
		{{ form.non_field_errors }}
		<div class="inputContainer">
		    {{ form.title.errors }}
		    Title:
		    {{ form.title }}
		</div>
		<div class="inputContainer">
		    {{ form.content.errors }}
		    <label for="{{ form.content.id_for_label }}"></label>
		    Desc.
		    {{ form.content }}
		</div>
		<div class="inputContainer half last right">
		    {{ form.category.errors }}
		    <label for="{{ form.category.id_for_label }}">category:</label>
		    {{ form.category }}
		</div>
		<div class="inputContainer half last right" type="date">
		    {{ form.due_date.errors }}
		    <label for="{{ form.due_date.id_for_label }}">Due Date:</label>
		    {{ form.due_date }}
		</div>
		<div class="row">
		<button class="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Add task</button>
		<button class="taskDelete" name="taskDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete Tasks</button>
	</div>

	<div class="btn-group row">
  <button><a href="/todo/0">All</button>
  <button><a href="/todo/1">Not started</a></button>
  <button><a href="/todo/2">Working</a></button>
  <button><a href="/todo/3">Done</a></button>	
</div>	
	
 <ul class="taskList">
{% load util %}
            {% for todo in todos %} 	
            {% if todo.owner_id == user.id %}

            {% if request.get_full_path|slice:"6:" == todo.category|slugify or request.get_full_path|slice:"6:" == '0'%}
                <li class="taskItem">
                    <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}">
                    <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                     <span class="category-{{ todo.category }}" id="cat-{{ todo.category }}"></span>
                    <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} - {{ todo.due_date }}</strong>
                </li>  

           {% endif %}
           {% endif %}
            {% endfor %}
            
            
            </ul><!-- taskList -->
            	</form>
	</div>
</div>
<!--  -->
	</div>	

</body>
</html>

<!--


	-->